nav{
    background-color:orange;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    padding:10px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    
}
.container{
    margin-top: 50px;
    width:50%;
    height: auto;
}
.container .card-header{
    width:100%;
}